<!--
=========================================================

=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="canonical" href="https://appseed.us/admin-dashboards/django-dashboard-Argon">
  


  <link rel="icon" href="/static/assets/img/brand/book1.png" type="image/png"> 
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="/static/assets/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
  <link rel="stylesheet" href="/static/assets/css/argon.css?v=1.2.0" type="text/css">



    <!-- CDN for toast message -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>
  <!-- CDN for toast message -->


  <!-- Specific CSS goes HERE -->
  {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="bg-default">

</div>




  <div class="main-content" style="background-color:#1c93b6">

    {% if messages %}
    {% for message in messages %}
    {% if message.tags == "alert-success" %}
    <p id="idd1" hidden>{{ message }} </p>
    {% elif message.tags == "alert-danger" %}
    <p id="idd2" hidden>{{ message }} </p>
    {% elif message.tags == "alert-warning" %}
    <p id="idd3" hidden>{{ message }} </p>
    {% elif message.tags == "alert-info" %}
    <p id="idd4" hidden>{{ message }} </p>
    {% endif %}
    {% endfor %}
    {% endif %}

    {% include "includes/navigation-fullscreen.html" %}

    <!-- Header -->

    <div class="header py-7 py-lg-8">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
             
        
            </div>
          </div>
        </div>
      </div>
     
    </div>
    
   

    {% block content %}{% endblock content %}

    {% include "includes/footer-fullscreen.html" %}

  </div>
    
  {% include "includes/scripts.html" %}

  <!-- Specific JS goes HERE --> 
  {% block javascripts %}{% endblock javascripts %}
  
  <script src="/static/assets/js/argon.js?v=1.2.0"></script>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
  integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>


<script>
  var toastMixin = Swal.mixin({
    toast: true,
    title: 'General Title',
    animation: false,
    position: 'top-right',
    showConfirmButton: false,
    timer: 3000,
    timerProgressBar: true,
    didOpen: (toast) => {
      toast.addEventListener('mouseenter', Swal.stopTimer)
      toast.addEventListener('mouseleave', Swal.resumeTimer)
    }
  });
  var x = $('#idd1').text();
  if (x !== "" ){
      toastMixin.fire({
      animation: true,
      title: x,
      icon: 'success',
    });
  }
  var x = $('#idd2').text();
  if (x !== "" ){
      toastMixin.fire({
      animation: true,
      title: x,
      icon: 'error',
    });
  }

  var x = $('#idd3').text();
  if (x !== "" ){
      toastMixin.fire({
      animation: true,
      title: x,
      icon: 'warning',
    });
  }

  var x = $('#idd4').text();
  if (x !== "" ){
      toastMixin.fire({
      animation: true,
      title: x,
      icon: 'info',
    });
  }
</script>

</html>
